<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <style>
        .content {
            white-space: pre-line;
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <h1>Title: {{.title}}</h1>
    <p>Will be deleted in: <b><a id="expAt">{{.expiresAt}}</a></b></p>
    <button onclick="copyToClipboard()">Copy</button>
    <h1>Content: </h1>
    <div class="content" id="content">{{.content}}</div>

    <script>

        let unix = document.getElementById("expAt")
        unix = parseInt(unix.innerText)
        if (unix === 0) {
            document.getElementById("expAt").innerText = "never"
        } else {
            document.getElementById("expAt").innerText = timeDifference(unix)
        }

        function copyToClipboard() {
            let content = document.getElementById("content")
            let textToCopy = content.innerText

            let textarea = document.createElement("textarea")
            textarea.value = textToCopy
            document.body.appendChild(textarea)

            textarea.select()
            document.execCommand("copy")

            document.body.removeChild(textarea)
            window.alert("copied!")
        }

        function timeDifference(timestamp) {
            let res = ""
            const futureDate = new Date(timestamp * 1000);
            const currentDate = new Date();

            const timeDifferenceMs = futureDate - currentDate;

            const minutes = Math.floor(timeDifferenceMs / (1000 * 60));
            const hours = Math.floor(minutes / 60);
            const days = Math.floor(hours / 24);

            switch (true) {
                case days > 0:
                    res += `${days} day${days > 1 ? 's' : ''} `;
                case hours > 0:
                    res += `${hours - (24 * days)} hour${hours - (24 * days) > 1 ? 's' : ''} `;
                default:
                    res += `${minutes - (60 * hours)} minute${minutes - (60 * hours) > 1 ? 's' : ''}`;
                    break;
            }
            return res
        }
    </script>
</body>

</html>